*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1 nav{
    height: 10vh;
    padding: 3vh;
}

.carousel-item img{
    height: 100vh;
}

.col-md{
    border-style: solid;
    border-color: red;
}

.row {
    border-style: solid;
    border-color: blue;
    margin: 0;
    padding: 1rem;
}

.row img{
    width: 100%;
}

.material-icons.md-48 { 
    font-size: 48px; 
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}















